@charset "UTF-8";

/*地图操作 模块化管理 图形化报表*/
.title {
  @include pxrem(font-size,32);
  text-align: center;
  font-weight: bold;
  @include pxrem(height, 80);
  @include pxrem(line-height, 80);
}

/*统计分析 六严禁 违章督办*/
.tab {
  width: 100%;
  @include pxrem(margin-top, 40);
  @include pxrem(height, 70);
  @include pxrem(font-size,30);
  @include pxrem(padding, 22 0);
  border-bottom: 1px solid #eee;
}

.tab .tab-list {
  width: 33.333%;
  @include pxrem(height, 28);
  @include pxrem(line-height, 28);
  float: left;
  text-align: center;
}

.activeTab a {
  color: #21a0fa;
}


/* 路由切换动效 */
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}

/*清浮动*/
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}
