/*==定义占位选择器(如果不调用则不会有任何多余的css文件,避免代码重复冗余,通过@extend调用)==*/
@charset "UTF-8";

// 指定容器为flex布局
%fx {
  display: flex;
}

// 以下属性设置在容器上

// 1.主轴方向，项目排列方向
%fxd-r { // 主轴为水平方向，起点在左端
  flex-direction: row;
}

%fxd-rr { // 主轴为水平方向，起点在右端
  flex-direction: row-reverse;
}

%fxd-c { // 主轴为垂直方向，起点在上沿
  flex-direction: column;
}

%fxd-cr { // 主轴为垂直方向，起点在下沿
  flex-direction: column-reverse;
}

// 2.一条轴线排不下，是否换行
%fxw-n { // 不换行
  flex-wrap: nowrap;
}



