/*==定义占位选择器(如果不调用则不会有任何多余的css文件,避免代码重复冗余,通过@extend调用)==*/
@charset "UTF-8";

// 指定容器为flex布局
%fx {
  display: flex;
}

//常用样式
%flex-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%flex-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

%flex-center-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



